<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

	<menu id="root-menu" label="Openbox 3">
		<item label="Run Program">
			<action name="Execute">
				<execute>
					gmrun
				</execute>
			</action>
		</item>
		<separator/>
		<item label="Terminal">
			<action name="Execute">
				<execute>
					terminator
				</execute>
			</action>
		</item>
		<item label="Web Browser">
			<action name="Execute">
				<execute>
					x-www-browser
				</execute>
			</action>
		</item>
		<item label="File Manager">
			<action name="Execute">
				<execute>
					thunar
				</execute>
			</action>
		</item>
		<item label="Text Editor">
			<action name="Execute">
				<execute>
					geany
				</execute>
			</action>
		</item>
		<menu execute="openbox-menu lxde-applications.menu" id="xdg-menu" label="LXMenu"/>
		<separator/>
		<menu execute="openbox-pipemenu-places" id="pipe-placesmenu" label="Places"/>
		<menu execute="openbox-pipemenu-recent-files" id="pipe-recentfilesmenu" label="Recent Files"/>
		<separator/>
		<menu id="settings" label="Settings">
			<menu id="conkyconfig" label="Conky">
				<item label="Edit .conkyrc">
					<action name="Execute">
						<execute>
							geany ~/.conkyrc
						</execute>
					</action>
				</item>
				<item label="Restart Conky">
					<action name="Execute">
						<execute>
							conkywonky
						</execute>
					</action>
				</item>
				<separator label="Help?"/>
				<item label="man page">
					<action name="Execute">
						<execute>
							terminator --command="man conky"
						</execute>
					</action>
				</item>
			</menu>
			<menu id="gmrunconfig" label="gmrun">
				<item label="Edit config file">
					<action name="Execute">
						<execute>
							geany ~/.gmrunrc
						</execute>
					</action>
				</item>
				<separator label="Help?"/>
				<item label="man page">
					<action name="Execute">
						<execute>
							terminator --command="man gmrun"
						</execute>
					</action>
				</item>
			</menu>
			<menu id="obConfig" label="Openbox">
				<item label="Edit menu.xml">
					<action name="Execute">
						<execute>
							geany ~/.config/openbox/menu.xml
						</execute>
					</action>
				</item>
				<item label="Edit rc.xml">
					<action name="Execute">
						<execute>
							geany ~/.config/openbox/rc.xml
						</execute>
					</action>
				</item>
				<item label="Edit autostart">
					<action name="Execute">
						<execute>
							geany ~/.config/openbox/autostart
						</execute>
					</action>
				</item>
				<separator/>
				<item label="GUI Menu Editor">
					<action name="Execute">
						<execute>
							obmenu
						</execute>
					</action>
				</item>
				<item label="GUI Config Tool">
					<action name="Execute">
						<execute>
							obconf
						</execute>
					</action>
				</item>
				<separator/>
				<item label="Reconfigure">
					<action name="Reconfigure"/>
				</item>
				<item label="Restart">
					<action name="Restart"/>
				</item>
			</menu>
			<menu id="terminatorconfig" label="Terminator">
				<item label="Edit config file">
					<action name="Execute">
						<execute>
							geany ~/.config/terminator/config
						</execute>
					</action>
				</item>
				<separator label="Help?"/>
				<item label="man page">
					<action name="Execute">
						<execute>
							terminator --command="man terminator_config"
						</execute>
					</action>
				</item>
			</menu>
			<menu execute="openbox-pipemenu-tint2" id="tint2config" label="tint2"/>
			<menu id="DisplaySettings" label="Display Settings">
			    <item label="ARandR Screen Layout Editor">
				    <action name="Execute">
					    <execute>
						    arandr
					    </execute>
				    </action>
			    </item>
			    <separator label="Help?"/>
			    <item label="man xrandr">
				    <action name="Execute">
					    <execute>
						    terminator --command="man xrandr"
					    </execute>
				    </action>
			    </item>
			</menu>
			<menu id="Notifications" label="Notifications">
				<item label="settings">
					<action name="Execute">
						<execute>xfce4-notifyd-config</execute>
					</action>
				</item>
			</menu>
			<item label="Edit Default Applications">
				<action name="Execute">
					<execute>
						terminator --command="sudo update-alternatives --all"
					</execute>
				</action>
			</item>
			<item label="User Interface Settings">
				<action name="Execute">
					<execute>
						lxappearance
					</execute>
				</action>
			</item>
			<item label="QT Settings">
				<action name="Execute">
					<execute>
						qtconfig-qt4
					</execute>
				</action>
			</item>
			<item label="Power Management">
				<action name="Execute">
					<execute>
						xfce4-power-manager-settings
					</execute>
				</action>
			</item>
			<item label="Choose Wallpaper">
				<action name="Execute">
					<execute>
						nitrogen ~/images/wallpapers/
					</execute>
				</action>
			</item>
		</menu>
		<menu id="system" label="System">
		    <item label="Configure Printers">
				<action name="Execute">
					<execute>
                        pkexec system-config-printer
					</execute>
				</action>
			</item>
		    <item label="Clonezilla HDD Cloner">
				<action name="Execute">
					<execute>
						terminator --title "Clonezilla" --command="sudo clonezilla"
					</execute>
				</action>
			</item>
			<item label="GParted Partition Editor">
				<action name="Execute">
					<execute>
						pkexec gparted
					</execute>
				</action>
			</item>
        </menu>
		<separator/>
		<item label="Lock Screen">
			<action name="Execute">
				<execute>
					openbox-lock
				</execute>
			</action>
		</item>
		<item label="Exit">
			<action name="Execute">
				<execute>
					openbox-exit
				</execute>
			</action>
		</item>
	</menu>
</openbox_menu>
